/* You can add global styles to this file, and also import other style files */
/* @import "app-theme.scss";
@import "~@angular/material/prebuilt-themes/purple-green.css"; */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.centered {
  margin: auto;
}

.app-background {
  margin: 0;
  padding: 0;
  
  background-color: rgb(64, 64, 64);
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.material-icons.md-48 {
  font-size: 48px;
}

.login-form-card {
  width: 300px;
  margin-top: 2cm;
  background-color: rgb(80, 80, 80);
  text-align: center;
}

.full-width {
  width: 100%;
}

.flag-icon {
  border-radius: 2px;
}


.fill-remaining-space {
  flex: 1 1 auto;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.large-card {
  width: 90%;
  min-height: 90%;
  height: auto;
  margin-top: 1cm;
  background-color: rgb(80, 80, 80) !important;
  text-align: left;
}
.flexed {
    display: flex;
}

.left-margin {
  margin-left: 10px !important;
}

mat-panel-description {
  display: block !important;
  text-align: right !important;
}