<mat-card class="large-card centered">
  <mat-card-title>{{ "AD_HOC" | translate }}</mat-card-title>
  <mat-card-content>

    <mat-form-field *ngIf="connections" color="accent" class="full-width">
      <mat-select placeholder="{{ 'CONNECTION' | translate }}" [(ngModel)]="connectionUuid" name="connection">
        <mat-option *ngFor="let connection of connections.connections" [value]="connection.uuid">
          {{ connection.dbName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field color="accent" class="full-width">
      <textarea matInput name="query" class="large-height" [(ngModel)]="query"></textarea>
      <mat-label>
        <mat-icon>computer</mat-icon> {{ 'QUERY' | translate }}
      </mat-label>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="shouldSave"> {{ "SAVE_QUERY" | translate }}</mat-checkbox>
    <div *ngIf="shouldSave">
      <mat-form-field color="accent" class="full-width">
        <input matInput name="query" [(ngModel)]="queryName">
        <mat-label>
          <mat-icon>save</mat-icon> {{ 'QUERY_NAME' | translate }}
        </mat-label>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="{{ 'VISIBILITY' | translate }}" [(ngModel)]="queryVisibility" name="queryVisibility">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div *ngIf="this.queryVisibility == 'TEAM'">
        <mat-form-field color="accent" class="large-width">
          <mat-select placeholder="{{ 'TEAMS' | translate }}" [(ngModel)]="teamUuids" name="teamUuids" multiple>
            <mat-option *ngFor="let team of teams" [value]="team.uuid">
              {{ team.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br/>
    <mat-checkbox (change)="onShouldChartChange()" *ngIf="query.length != 0" [(ngModel)]="shouldChart"> {{ "SHOULD_CHART" | translate }}</mat-checkbox>
    <div *ngIf="shouldChart">
      <br>
      <mat-form-field>
        <mat-select placeholder="{{ 'CHART_TYPE' | translate }}" [(ngModel)]="chartType" name="chartType">
          <mat-option *ngFor="let chartType of chartTypes" [value]="chartType">
            {{ chartType | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="{{ 'LABEL_COLUMN' | translate }}" [(ngModel)]="labelColumn" name="labelColumn">
          <mat-option *ngFor="let chartColumn of chartColumns" [value]="chartColumn.columnName">
            {{ chartColumn.columnName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="{{ 'DATA_COLUMN' | translate }}" [(ngModel)]="dataColumn" name="dataColumn">
          <mat-option *ngFor="let chartColumn of chartColumns" [value]="chartColumn.columnName">
            {{ chartColumn.columnName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <!--<button color="accent" type="submit" class="full-width" mat-button>{{ "LOGIN" | translate }}</button>-->
  </mat-card-actions>
  <div class="flexed">
    <div class="fill-remaining-space"></div>
    <button mat-button color="primary" (click)="executePagedQuery()">{{"EXECUTE_QUERY" | translate}}</button>
  </div>

  <app-result-table [queryString]=this.query [connectionUuid]=this.connectionUuid [queryName]=this.queryName
    [visibility]=this.queryVisibility [teamUuids]=this.teamUuids></app-result-table>
</mat-card>