
  <mat-card class="large-card centered">
    <mat-card-title>{{ "AD_HOC" | translate }}</mat-card-title>
    <mat-card-content>
  
      <mat-form-field *ngIf="connections" color="accent" class="large-width">
        <mat-select placeholder="{{ 'CONNECTION' | translate }}" [(ngModel)]="connectionUuid" name="connection">
          <mat-option *ngFor="let connection of connections.connections" [value]="connection.uuid">
            {{ connection.dbName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <br>
    <mat-form-field color="accent" class="large-width">
      <textarea matInput name="query" [(ngModel)]="query"></textarea>
      <mat-label>
        <mat-icon>computer</mat-icon> {{ 'QUERY' | translate }} </mat-label>
    </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <!--<button color="accent" type="submit" class="full-width" mat-button>{{ "LOGIN" | translate }}</button>-->
    </mat-card-actions>
    <div class="flexed">

      <div class="fill-remaining-space">
  
      </div>
  
        <button mat-button color="primary" (click)="executeQuery()">ExecuteQuery</button>
    </div>

    </mat-card>