
<h1 mat-dialog-title><mat-icon>class</mat-icon><span>{{ "NEW_DRIVER" | translate }}</span></h1>
<div mat-dialog-content>
  
    <mat-form-field>
        <mat-select placeholder="{{ 'DRIVER_TYPE' | translate }}" [(ngModel)]="selectedDbType" name="dbType">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <input style="display: none" type="file" class="form-control" #file (change)="onFileAdded()" id="file"/>
    <button mat-button color="accent" (click)="addFiles()">
        <span *ngIf="toUpload && toUpload.length > 0">{{ toUpload[0].name }}</span>
        <span *ngIf="!toUpload || toUpload.length == 0">{{"SELECT_JAR" | translate}}</span>
    </button>
</div>
<div mat-dialog-actions>
  <div class="fill-remaining-space"></div>
  <button mat-button color="accent" (click)="onNoClick()">{{ "CANCEL" | translate }}</button>
  <button mat-button color="accent" (click)="uploadClick()" [mat-dialog-close]="" cdkFocusInitial>{{ "INSTALL" | translate }}</button>
</div>
