<h1 mat-dialog-title>
  <mat-icon>edit</mat-icon><span>{{ 'EDIT_DASHBOARD' | translate }}</span>
</h1>
<div *ngIf='dashboardQuery'>
    <h4>{{dashboardQuery.order + 1}} {{'QUERY_NUMBER' | translate}}</h4>
    <hr>
    <mat-form-field color="accent" class="full-width">
      <mat-select placeholder="{{ 'QUERY' | translate }}" [(ngModel)]="dashboardQuery.queryUuid"
        name="queryUuid">
        <mat-option *ngFor="let query of queries" [value]="query.uuid">
          {{ query.queryName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox *ngIf='dashboardQuery && isChartByQueryUuid(dashboardQuery.queryUuid)'
      [(ngModel)]="dashboardQuery.chart">{{ "DISPLAY_CHART" | translate }}</mat-checkbox>

  <div class="flexed">
    <div class="fill-remaining-space"></div>
    <button mat-button color="primary" (click)="saveDashboard()">{{"SAVE_DASHBOARD" | translate}}</button>
  </div>

</div>