.drivers-card {
    width: 90%;
    min-height: 90%;
    height: 90%;
    margin-top: 1cm;
    background-color: rgb(80, 80, 80);
    text-align: left;
  }
  .flexed {
      display: flex;
  }

  .flex-right {

  }