
  <mat-card class="drivers-card centered">
    <mat-card-title>{{ "INSTALLED_DRIVERS" | translate }}</mat-card-title>
    <mat-card-content>
  
      <span *ngIf="!drivers || drivers.drivers.length == 0">{{ "NO_DRIVERS" | translate }}</span>
      <mat-accordion *ngIf="drivers && drivers.drivers.length > 0">
        <mat-expansion-panel  *ngFor="let driver of drivers.drivers">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ driver.dbType | translate }}
            </mat-panel-title>
            <mat-panel-description>
              {{ driver.name }}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field color="accent">
            <input matInput readonly="true" placeholder="{{ 'DETECTED_DRIVER_CLASS_NAME' | translate }}" name="driverClassName" value="{{ driver.driverClassName }}"
                   >
            <mat-label>
              <mat-icon>class</mat-icon>
              {{ 'DETECTED_DRIVER_CLASS_NAME' | translate }} </mat-label>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      
  
    </mat-card-content>
    <mat-card-actions>
      <!--<button color="accent" type="submit" class="full-width" mat-button>{{ "LOGIN" | translate }}</button>-->
    </mat-card-actions>
    <div class="flexed">

      <div class="fill-remaining-space">
  
      </div>
  
        <button mat-button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
    </div>

    </mat-card>